@model ViaYou.Web.Areas.Admin.Models.TravelViewModel
@{
    ViewBag.Title = "TravelViewModel";
    Layout = null;
}

<h2>TravelViewModel</h2>

*<div class="form-horizontal">
    <h4>New Travel</h4>
    <hr />
    @Html.ValidationSummary(true, "", new { @class = "text-danger" })
    <div class="form-group">
        @Html.LabelFor(model => model.Date, htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.EditorFor(model => model.Date, new { htmlAttributes = new { @class = "form-control" } })
            @Html.ValidationMessageFor(model => model.Date, "", new { @class = "text-danger" })
        </div>
    </div>

    <div class="form-group">
        @Html.LabelFor(model => model.Grade, htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.EditorFor(model => model.Grade, new { htmlAttributes = new { @class = "form-control" } })
            @Html.ValidationMessageFor(model => model.Grade, "", new { @class = "text-danger" })
        </div>
    </div>

     <div class="col-md-6">
         <div class="form-group">
             @Html.LabelFor(model => model.CityOriginId, "City Origin", new { @class = "control-label col-md-4" })
             <div class="col-md-8">
                 <select id="CityOriginId" name="CityOriginId" class="select2 form-control">
                     @foreach (var city in Model.CitiesList)
                     {
                         <option value="@city.Value" @(city.Value==Model.CityOriginId.ToString() ? "selected" : "")>@city.Text</option>
                     }
                 </select>
                 @Html.ValidationMessageFor(model => model.CityOriginId)
             </div>
         </div>
     </div>

     <div class="col-md-6">
         <div class="form-group">
             @Html.LabelFor(model => model.CityDestinationId, "City Destination", new { @class = "control-label col-md-4" })
             <div class="col-md-8">
                 <select id="CityDestinationId" name="CityDestinationId" class="select2 form-control">
                     @foreach (var city in Model.CitiesList)
                     {
                         <option value="@city.Value" @(city.Value==Model.CityDestinationId.ToString() ? "selected" : "")>@city.Text</option>
                     }
                 </select>
                 @Html.ValidationMessageFor(model => model.CityDestinationId)
             </div>
         </div>
     </div>
   
    <div class="form-group">
        <div class="col-md-offset-2 col-md-10">
            <input type="submit" value="Create" class="btn btn-success" />
        </div>
    </div>
</div>