@model ViaYou.Web.Areas.Admin.Models.TravelViewModel
@{
    ViewBag.Title = "TravelViewModel";
    Layout = null;
}


<div class="form-horizontal">
    <h4>New Travel</h4>
    <hr />
    @Html.ValidationSummary(true, "", new { @class = "text-danger" })
    <div class="form-group">
        @Html.LabelFor(model => model.Date, htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.EditorFor(model => model.Date, new { htmlAttributes = new { @class = "form-control" } })
            @Html.ValidationMessageFor(model => model.Date, "", new { @class = "text-danger" })
        </div>
    </div>

    @*<div class="form-group">
        @Html.LabelFor(model => model.Grade, htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.EditorFor(model => model.Grade, new { htmlAttributes = new { @class = "form-control" } })
            @Html.ValidationMessageFor(model => model.Grade, "", new { @class = "text-danger" })
        </div>
    </div>*@
    <div class="col-md-6">
        <div class="form-group">
            @Html.LabelFor(model => model.CustomerId, "Customer", new {@class = "control-label col-md-4"})
            <div class="col-md-8">
                <select id="CustomerId" name="CustomerId" class="select2 form-control">
                    @foreach (var customer in Model.Users)
                    {
                        <option value="@customer.Value" @(customer.Value == Model.CustomerId.ToString() ? "selected" : "")>@customer.Text</option>
                    }
                </select>
                @Html.ValidationMessageFor(model => model.CustomerId)
            </div>
        </div>
    </div>
     <div class="col-md-6">
         <div class="form-group">
             @Html.LabelFor(model => model.TravelerId, "Travel", new { @class = "control-label col-md-4" })
             <div class="col-md-8">
                 <select id="TravelerId" name="TravelerId" class="select2 form-control">
                     @foreach (var traveler in Model.Users)
                     {
                         <option value="@traveler.Value" @(traveler.Value == Model.TravelerId.ToString() ? "selected" : "")>@traveler.Text</option>
                     }
                 </select>
                 @Html.ValidationMessageFor(model => model.TravelerId)
             </div>
         </div>
     </div>

     <div class="col-md-6">
         <div class="form-group">
             @Html.LabelFor(model => model.CityOriginId, "City Origin", new { @class = "control-label col-md-4" })
             <div class="col-md-8">
                 <select id="CityOriginId" name="CityOriginId" class="select2 form-control">
                     @foreach (var city in Model.CitiesList)
                     {
                         <option value="@city.Value" @(city.Value==Model.CityOriginId.ToString() ? "selected" : "")>@city.Text</option>
                     }
                 </select>
                 @Html.ValidationMessageFor(model => model.CityOriginId)
             </div>
         </div>
     </div>

     <div class="col-md-6">
         <div class="form-group">
             @Html.LabelFor(model => model.CityDestinationId, "City Destination", new { @class = "control-label col-md-4" })
             <div class="col-md-8">
                 <select id="CityDestinationId" name="CityDestinationId" class="select2 form-control">
                     @foreach (var city in Model.CitiesList)
                     {
                         <option value="@city.Value" @(city.Value==Model.CityDestinationId.ToString() ? "selected" : "")>@city.Text</option>
                     }
                 </select>
                 @Html.ValidationMessageFor(model => model.CityDestinationId)
             </div>
         </div>
     </div>
      
</div>