@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Admin Section</title>

    @Styles.Render("~/Content/Shared/css")
    @Styles.Render("~/Content/AdminTemplate/css")

</head>
<body>
    <div id="wrapper">
        @Html.Partial("_AdminSidebarAndHeader")
        <div id="page-wrapper">
            @RenderBody()
        </div>
    </div>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @Scripts.Render("~/Scripts/AdminTemplate/js")
    @RenderSection("scripts", required: false)
</body>
</html>
